.android-large-1-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-khaki);
  width: 360px;
  height: 88px;
}
.android-large-1-item {
  position: absolute;
  top: 732px;
  left: 0;
  background-color: #f6f6f6;
  width: 360px;
  height: 68px;
}
.emoji {
  position: relative;
  width: 40px;
  height: 40px;
}
.always-smile {
  position: absolute;
  top: 60px;
  left: 130px;
}
.to-do {
  position: relative;
  width: 342px;
  height: 56px;
}
.to-do3 {
  position: absolute;
  top: 137px;
  left: 14px;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.material-symbolshome-icon {
  position: absolute;
  top: 741px;
  left: 49px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.android-large-1-inner {
  position: absolute;
  top: 636px;
  left: 278px;
  border-radius: 50%;
  background-color: var(--color-khaki);
  width: 57px;
  height: 55px;
}
.heroicons-solidplus,
.material-symbolshome-icon1 {
  position: absolute;
  top: 640px;
  left: 283px;
  width: 47px;
  height: 48px;
  overflow: hidden;
}
.material-symbolshome-icon1 {
  top: 377px;
  left: 1384px;
  width: 24px;
  height: 24px;
}
.healthiconsui-user-profile-ou,
.icround-menu-icon {
  position: absolute;
  top: 741px;
  left: 265px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.healthiconsui-user-profile-ou {
  left: 160px;
}
.android-large-1,
.android-large-3 {
  background-color: var(--color-white);
  height: 800px;
  overflow: hidden;
}
.android-large-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
}
.android-large-3 {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
