/* 스타일 초기화 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'SUIT-Regular';
}
.container {
	margin: 0 auto;
	width: 1300px;
	height: auto;
	margin-top: 100px;
	background-color: #e9edff;

}

header {
    width: 270px;
    height: auto;
    background-color: #272a36;
    border-radius: 2rem;
    padding: 1.5rem;
    position: fixed;
    z-index: 999;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
	box-shadow: #d3d3d3;
}

header #nav .profile {
    color: #fff;
}

header #nav .profile h3 {
    font-size: 1.75rem;
    line-height: 1.8;
	font-family: 'PyeongChangPeace-Bold';
}

header #nav .profile h3:after {
    content: "";
    background-color: #caee75;
    border-radius: 50%;
    display: inline-block;
    margin-left: 4px;
    height: 0.5rem;
    width: 0.5rem;
}

header #nav .profile h6 {
    font-weight: 300;
    font-family: "Poppins", "Spoqa Han Sans Neo", Sans-serif;
    margin-bottom: 2rem;
}

header #nav .menu {
    margin-bottom: 1rem;
}

header #nav .menu a {
    font-size: 0.875rem;
    line-height: 1.8;
    color: #fff;
}

header #nav .menu a span {
    margin-right: 1rem;
}

header #nav .menu a:hover {
    font-weight: 600;
    font-family: "Poppins", "Spoqa Han Sans Neo", Sans-serif;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

header .ver {
    font-weight: 200;
    font-family: "Poppins", "Spoqa Han Sans Neo", Sans-serif;
    font-size: 0.75rem;
    line-height: 1.8;
    color: #e9ebee;
    opacity: 0.6;
}

/* 
@media only screen and (min-width: 321px) and (orientation: landscape) {
	section {
		width: 80%;
		float: left;
	}

	aside {
		width: 20%;
		text-align: center;
		float: right;
	}

	footer {
		clear: both;
	}
} */
#main {
	background-color: #272a36;
	height: 350px;
}

.section-wrap > section {
    width: 850px;
    height: inherit;
    background-color: #fff;
    border-radius: 2rem;
    -webkit-box-shadow: 0px 6px 20px rgba(66, 95, 225, 0.2);
    box-shadow: 0px 6px 20px rgba(66, 95, 225, 0.2);
    margin-bottom: 5rem;
    padding: 3rem 2.5rem;
    float: right;
}

.section-wrap > section >.mobile-title {
	font-size: 1.8rem;
	margin-top: 50px;
	color: #e0e0e0;
	line-height: 2.8rem;
}

.section-wrap > section >.mobile-title > i {
	color: #caee75;
}

.section-wrap > section >.mobile-title > y {
	font-size: 2rem;
}
.section-wrap>section #title .bar {
    width: 1.5rem;
    height: 0.25rem;
    background-color: #caee75;
    border-radius: 25px;
}

#about {
	width: 850px;
    height: inherit;
    background-color: #fff;
    border-radius: 2rem;
    -webkit-box-shadow: 0px 6px 20px rgba(66, 95, 225, 0.2);
    box-shadow: 0px 6px 20px rgba(66, 95, 225, 0.2);
    margin-bottom: 5rem;
    padding: 3rem 2.5rem;
    float: right;
}

#about .about-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    word-break: keep-all;
}

#about .about-wrap img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
    border: 4px solid #f5f5f5;
    box-shadow: 0 0 10px rgba(58, 55, 55, 0.1);
	transition: border-color 0.3s; /* 테두리 색상 변경에 대한 전환 설정 */
}

#about .about-wrap img:hover {
    box-shadow: 0 0 10px #fdff8481;
}
#about .about-wrap .profile-txt {
    width: 100%;
}

#about .about-wrap .profile-txt > h3, p {
    margin-bottom: 2rem;
	line-height: 1.5rem;
}

#about .about-wrap .profile-txt .info ul li {
    font-weight: 600;
    margin-bottom: 0.7rem;
}

#title {
	font-size: 1.5rem; 
	font-weight: 900;
	margin-bottom: 30px;
}

hr {
	margin-bottom: 2rem;
	border: none; /* 기본 테두리 제거 */
	border-top: 1px solid #ccc; /* 원하는 선 색상 및 굵기 설정 */
	opacity: 0.8; /* 선의 투명도 설정 */
}

/* 테이블 스타일링 */
.resume-table, .skill-table {
	width: 100%;
	margin:20px 0px ;
	border-collapse: collapse;
	margin-bottom: 60px;
	text-align: center;
}

/* 테이블 헤더 스타일링 */
.resume-table th, .skill-table th {
	background-color: #f2f2f2;
	text-align: left;
	padding: 8px;
	border: 1px solid #ddd;
	text-align: center;
}


/* 테이블 셀 스타일링 */
.resume-table td, .skill-table td {
	padding: 8px;
	border: 1px solid #ddd;
}

#skill li {
    display: inline-block;
    background-color: #333746;
    padding: 5px 10px;
    border-radius: 6px;
    margin: 0 8px 8px 0;
    color: #fff;
    font-weight: bold;
}
#skill h3 {
	margin-bottom: 10px;
}

.skill-table > td {
	padding: 100px;
}

.project {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    margin: 50px 0;
}

.project-details {
    padding: 10px;
    width: 50%; /* Set the width to 50% to make it consistent with other details */
}

.project-details h3 {
    font-size: 24px;
    color: #333;
    margin: 0;
    padding-bottom: 10px;
}

.project-details .project-table {
    width: 100%; /* Make the table fill its container */
}

.project-details .project-table td {
    padding: 8px 0;
    font-size: 16px;
    color: #777;
}

.project-details .project-table td:first-child {
    font-weight: bold;
    width: auto; /* Remove width to allow content to determine the width */
}

.project-details  .project-table  td:last-child {
    text-align: left;
}

.project h3 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

#contact {
    margin-bottom: 200px;
    padding-bottom: 100px;
}
#contact .pdfbox {
    margin-top: 20px;
    color: black;
    width: 220px;
    height: 120px;
    padding-top: 1.5rem;
    border: 1px solid #e9ebee;
    border-radius: 1rem;
    text-align: center;
}

#contact .pdfbox-wrap #pdfbox1:hover{
    background-color: #272a36;
    color: #fff;
    transition: all 0.5s ease;
}

#contact .pdfbox-wrap #pdfbox2:hover{
    background-color: #3e93bb;
    color: #fff;
    transition: all 0.5s ease;
}

#contact .pdfbox-wrap #pdfbox3:hover{
    background-color: #11dbba;
    color: #fff;
    transition: all 0.5s ease;
}

#contact #title > p {
    font-weight: 400;
    
    font-size: 0.875rem;
    line-height: 1.8;
    color: #646f7c;
    margin-bottom: 1rem;
}

#contact .pdfbox-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.pdfbox h1 {
    font-size: 30px;
    margin: 7px;
}